@media only screen and (min-width: 1025px) {
    body{
        background-color: #39CCCC
        ;
    }
        #small {
            display: none;
        }
        #medium {
            display: none;
        }
        h1 {
            font-size: xx-large;
        }
          p {
              font-size: x-large;
          }
          .flex-container {
            display: flex;
            text-align: center;
            flex-direction: row;
            width: auto;
                     }
        #one{
            border: 1px dashed white;
            text-align: center;
            background-color: teal;
        }
        #two{
            border: 1px dashed white;
            text-align: center;
            background-color: silver;

        }
        #three{
            border: 1px dashed white; 
            text-align: center;
            background-color: aquamarine; 
        }
}
@media only screen and (min-width: 480px) and (max-width: 1025px) {
    body {
        background-color: #01FF70;
      }
    #small {
        display: none;
    }
    #large {
        display: none;
    }
    h1 {
        font-size: large;
    }
    p {
        font-size: medium;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    #one{
        width: 65%;
        border: 1px dashed white;
        background-color: teal;
    }
    #two{
        width: 35%;
        border: 1px dashed white;
        background-color: silver;
    }
    #three{
        width: 100%;
        border: 1px dashed white;
        background-color: aquamarine;
    }
}



@media only screen and (max-width: 480px) {
         body {
         background-color: crimson;
          }
        #medium {
                display: none;
            }
        #large {
                display: none;
            }
            h1 {
                font-size: small;
            }
            p {
                font-size: x-small;
            }
            .flex-container {
                display: flex;
                flex-direction: column;
                width:auto;
                           }
            #one{
                border: 1px dashed white;
                background-color: teal;
            }
            #two{
                border: 1px dashed white;
                background-color: silver;
            }
            #three{
                border: 1px dashed white;
                background-color: aquamarine;
            }    
    
}
 
