
@media only screen and (min-width: 480px) and (max-width: 1025px) {
    body {
        background-color: green;
      }
    #small {
        display: none;
    }
    #large {
        display: none;
    }
    h1 {
        font-size: large;
    }
    p {
        font-size: medium;
    }
}

@media only screen and (min-width: 1025px) {
    body{
        background-color: blue;
    }
        #small {
            display: none;
        }
        #medium {
            display: none;
        }
        h1 {
            font-size: xx-large;
        }
          p {
              font-size: x-large;
          }
}

@media only screen and (max-width: 480px) {
         body {
        background-color: red;
          }
        #medium {
                display: none;
            }
        #large {
                display: none;
            }
            h1 {
                font-size: small;
            }
            p {
                font-size: x-small;
            }
    }